<!DOCTYPE html>

<% include partials/head %>


<body>
    <% include partials/header %>
  <div class="cuerpo">
        <div class="container center-align">
                <h2>hola mundillo <%=title%><h2>
        
                        <span  style="font-size: 6em; color: Tomato;">
                                <i class="fas fa-camera animated fadeInLeft"></i>
                              </span>
                              
        
        
           </div>


  </div>

            
</body>
<% include partials/foot %>

</html>
